name: Terraform CI/CD

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    name: Terraform Apply
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.8.0

      - name: Terraform Init
        run: terraform init
        working-directory: ./environments/dev

      - name: Terraform Validate
        run: terraform validate
        working-directory: ./environments/dev

     - name: Terraform Plan
  working-directory: ./environments/dev
  run: terraform plan -var-file="dev.tfvars"

- name: Terraform Apply
  if: github.ref == 'refs/heads/main'
  working-directory: ./environments/dev
  run: terraform apply -auto-approve -var-file="dev.tfvars"